.box{
    width: 100px;
    height: 200px;
    p{
        height: 300px;
        background: red;
    }
}
#box{
    height: 34px;
    h1{
        height: 200px;
        background: red;
    }
}
#heyushuo{
    background: red;
}
#head{
    width: 200px;
    p{
        height: 300px;
    }
}


.flex{
    display: flex;
    box-shadow: 5px 5px 0px #ff0000;  
    border-radius: 5px;
    transform: rotateX(20px);
}
.flex1{
    display: flex;
    flex:1;
//  flex-wrap:wrap;//默认是不换行
    justify-content:space-between;
    align-items:center;
}
